[buildout]
#extensions = 
#    mr.developer
#sources = sources
#auto-checkout = *

versions = versions
unzip = true

parts = 
    transcodedaemon
#    daemonpy

develop = .
#          src/collective.transcode.recipe

#find-links = http://tovid.googlecode.com/files/tovid-0.33.tar.gz

eggs = 
    collective.transcode.recipe
    collective.transcode.daemon
#    feedparser
#    tovid

[transcodedaemon]
recipe = collective.transcode.recipe
listen_host = localhost
listen_port = 8888
videofolder = videos
secret = 1771d99931264d538e75eeb19da7d6a0

default_supported_mimetypes = ['application/ogg', 'video/flv', 'video/x-flv', 'video/mpeg', 'video/3gpp', 'video/x-ms-wmv', 'video/ogg', 'video/x-ogg', 'video/x-ogm+ogg', 'video/quicktime', 'video/x-la-asf', 'video/x-ms-asf', 'video/x-msvideo', 'video/mp4']

profiles = [ { 'id' : 'jpeg', 'cmd' : 'scripts/getThumb %s %s', 'supported_mime_types': ${transcodedaemon:default_supported_mimetypes}, 'output_mime_type': 'image/jpeg', 'output_extension': 'jpg' }, { 'id' : 'mp4', 'cmd' : 'scripts/transcodeMp4 %s %s', 'supported_mime_types': ${transcodedaemon:default_supported_mimetypes}, 'output_mime_type': 'video/mp4', 'output_extension': 'mp4' }, { 'id' : 'ogg', 'cmd' : 'scripts/transcodeTheora %s %s', 'supported_mime_types': ${transcodedaemon:default_supported_mimetypes}, 'output_mime_type': 'video/ogg', 'output_extension': 'ogv' }, { 'id' : 'mpeg2', 'cmd' : 'scripts/transcodeMpeg2 %s %s', 'supported_mime_types': ${transcodedaemon:default_supported_mimetypes}, 'output_mime_type': 'video/mpeg', 'output_extension': 'mpg' },{ 'id' : 'dvd', 'cmd' : 'scripts/makeDvdIso %s %s', 'supported_mime_types': 'text/xml', 'output_mime_type': 'application/octet-stream', 'output_extension': 'iso' }, ]

eggs = ${buildout:eggs}

#[daemonpy]
#recipe = zc.recipe.egg
#eggs = ${buildout:eggs}
#interpreter = daemonpy
#scripts = daemonpy

#[sources]
#collective.transcode.recipe = svn https://svn.plone.org/svn/collective/collective.transcode.recipe/trunk

[versions]
collective.transcode.recipe = 0.2
Twisted = 10.1.0
pycrypto = 2.3
#feedparser = 4.1
